*,
*::after,
*::before {
  box-sizing: border-box;
}

.loader-holder {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all ease-in-out 300ms;
  background-color: white;
  opacity: 1;
}

.loader {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  perspective: 1500px;
  perspective-origin: center;
}
.loader span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-name: grow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  margin: -5px;
  perspective: 1500px;
}

.loader span:nth-child(1) {
  background-color: purple;
  transform-origin: left;
  perspective-origin: left;
}

.loader span:nth-child(2) {
  background-color: pink;
  animation-delay: 0.75s;
  transform-origin: right;
  perspective-origin: right;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
